@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #F5F7FB;
  color: #293264;
  font-family: 'Karla', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  position: relative;
  height: max-content;
  border: 1px solid #DBDEF0; 
  border-radius: 15px;
  margin: 20px 0;
  padding: 20px 10px;
  max-width: 900px;
}

.start_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.start_page--header {
  margin: 5px;
}

.start_page--info {
  line-height: 1.4em;
  font-size: 17px;
  font-weight: 300;
}

.start_page--start-button {
  background-color: #4D5B9E;
  color: white;
  padding: 20px 40px;
  margin: 30px 0;
  border: 0;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.start_page--start-button:hover {
  cursor: pointer;
}

.question {
  padding: 10px 20px;
  border-bottom: 1px solid #DBDEF0;
  margin-bottom: 10px;
}

.question--header {
  font-size:x-large;
  text-align: center;
  margin-bottom: 10px;
}

.question--category {
  font-size:large;
  text-align: center;
  color: #4D5B9E;
  margin-bottom: 10px;
}

.question--all-answears {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question--cockpit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 15px 0;
}

.question--cockpit-points {
  margin-right: 15px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

.question--cockpit-button {
  background-color: #4D5B9E;
  padding: 20px 40px;
  color: white;
  border: 0;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.question--answear {
  font-size: medium;
  font-weight: 500;
  background-color: white;
  padding: 5px 25px;
  border-radius: 15px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #293264;
  color: #293264;
}

.select{
  background-color: #D6DBF5;
  color: #293264;
}

.saved-select{
  background-color: #94D7A2;
  color: #293264;
}

.correct-answear {
  background-color: #F8BCBC;
  color: #293264;
  opacity: 0.5;
}